.deatls-form {
  margin-left: 25%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 0;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  padding: 50px;
  background-color: rgb(116, 161, 161);
}

.order-now {
  border-radius: 10px;
  margin-left: 35%;
}

.deatls-form {
  display: grid;
}
